###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [91]:

person1 = {"Name" : "Srikanth",
"Gender": "Male",
"Occupation" : "Data Scientist",
"Location" : "Nizampet, Hyderabad"}

In [92]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad'}

> print keys in person1 as a list

In [16]:

key_values= person1.keys()

In [15]:

list(key_values)

['Name', 'Gender', 'Occupation', 'Location']

> Srikanth age is 27. Assign his age in person1 as key "Age"

In [93]:
person1["Age"] = 27

In [94]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad',
 'Age': 27}

> Remove Location in person1

In [37]:

person1.pop("Location")

'Nizampet, Hyderabad'

In [38]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Age': 27}

> Create dictionary of person2 with
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [39]:
person2 = {'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

In [40]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> Append values on Person1 and Person2

In [41]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [64]:

my_dic=dict()
for x in range(0,10):
    my_dic[x]=x**2
rem_list = [2,4,6,8]
dic1 = [my_dic.pop(key) for key in rem_list]

In [65]:
my_dic

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
### print the values from the above dictionary in descending order

In [103]:

dic1 = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
lst = list(dic1)
lst.sort(reverse=True)
lst

[9, 7, 5, 3, 1, 0]

database = {'ram':1234,'raghu':5678,'kanav':1357}
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [156]:

database = {'ram':"1234",'raghu':"5678",'kanav':"1357"}
user_name = input("What is your username:")
for i,j in  database.items():
    if user_name == i:
        pswd =input("Password:")
        if pswd == j:
                    print("hello",i)
        else:
                    print("you want me to add into the database")

What is your username:kanav
Password:1234
 you want me to add into the database

### merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [157]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
merged = {**dict1, **dict2, **dict3}
print(merged)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)