###  Sets

> Create a set "s" with elements 

1 , 2 , 'innomatics', 'hub'

In [60]:

s = {1,2,'innomatics','hub'}

In [61]:
s

{1, 2, 'hub', 'innomatics'}

> Add element 'Technology' in s

In [62]:

s.add('Technology')

In [63]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

> Create one more set "sc" with elements 

3,4, 'hub', 'Technology'

In [42]:

sc = {3,4,'hub','Technology'}

In [43]:
sc

{3, 4, 'Technology', 'hub'}

> Find difference of two sets s and sc

s - sc

In [44]:

s - sc

{1, 2, 'innomatics'}

> remove 2 from set s

In [55]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [56]:

s.remove(2)

In [57]:
s

{1, 'Technology', 'hub', 'innomatics'}

> Print common element in two sets s and sc

s intersection sc

In [59]:

s.intersection(sc)

{'Technology', 'hub'}

> Print all element in two sets

s union sc

In [64]:

s.union(sc)

{1, 2, 3, 4, 'Technology', 'hub', 'innomatics'}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)