###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [23]:
nums = [1,2,3,4]
nums

[1, 2, 3, 4]

** 1. Remove number "3" in a list**

In [22]:
# Method 1 
nums.remove(3)
nums

[1, 2, 4]

In [19]:
# Method 2
nums.pop(2)
nums

[1, 2, 4]

In [46]:
# Method 3
nums = [1,2,3,4]
del nums[2]
nums

[1, 2, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [26]:
nums = [1,2,3,4]
nums.pop()
nums

[1, 2, 3]

**Check nums.pop(0) ** 
> write you comment after executing this command

In [27]:
nums = [1,2,3,4]
nums.pop(0)
nums    # removes zeroth position

[2, 3, 4]

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [28]:
# Method1

nums = [1,2,3,4]
nums.extend([3,4])
nums

[1, 2, 3, 4, 3, 4]

In [35]:
#Method 2
nums = [1,2,3,4]
list1 = [3,4]
nums = nums+list1
nums

[1, 2, 3, 4, 3, 4]

**Insert number "1" in 0th position**

In [37]:
nums =[1,2,3,4]
nums.insert(0,1)
nums

[1, 1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [38]:
nums =[1,2,3,4]
nums.insert(2,"two-and-half")
nums

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [ ]:
plist =  "Don't panic!"

*convert into list*

In [104]:
plist = "Don't panic!"
plist=list(plist)
plist

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [50]:
plist.pop()
del plist[3]
plist

['o', 'n', 't', 'p', 'a', 'n', 'i']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [64]:
plist.remove('D')
del plist[]

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [111]:
plist = "Don't panic!"
plist=list(plist)
plst = plist[-4:]
plst

['n', 'i', 'c', '!']

- append list

In [114]:
plist = "Don't panic!"
plist=list(plist)
plist.append("a")
plist

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!', 'a']

- Join list

In [117]:
plist1 = plst + plist
plist1

['n',
 'i',
 'c',
 '!',
 'D',
 'o',
 'n',
 "'",
 't',
 ' ',
 'p',
 'a',
 'n',
 'i',
 'c',
 '!',
 'a']

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [65]:

nums = (31,24,35,85)

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [76]:

nums1 = list(nums)
del nums1[2]
nums1

[31, 24, 85]

**Extent** tuple (85,19)

In [78]:

l =nums+(85,19)
l

(31, 24, 35, 85, 85, 19)

### If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [159]:

list1 = '5 2 3 6 6 5'
lst = l.split()
my_list = list(set(lst))
my_list.sort()
if len(my_list) == 1:
     print(my_list[0])
elif len(my_list) >= 2:
     print(my_list[-2])

5

### By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [140]:

lst = [12,24,35,70,88,120,155]
lst1 = [x  for (i,x) in enumerate(lst) if i not in (0,4,5)]
lst1

[24, 35, 70, 155]

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [125]:
tpl = (1,2,3,4,5,6,7,8,9,10)
for i in range(0,5):
    print(tpl[i],end = ' ')
print()
for i in range(5,10):
    print(tpl[i],end = ' ')

1 2 3 4 5
6 7 8 9 10

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [ ]:
tup = (1,2,3,4,5,6,7,8,9,10)
tup1 = tuple(i for i in tup if i%2 == 0)
print(tup1)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)